.container {
  text-align: center;
}

#myCanvas {
  margin-top: 10%;
  background: url('../assets/sprites/background.png') rgb(50, 152, 241) no-repeat center;
  background-size: cover;
  border: 3px solid #ccc;
}

